<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/fa//css/all.css" />
    <link rel="stylesheet" href="/public/css/app.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <div class="hide-container">
        <span class="shut"><i class="far fa-times-circle"></i></span>
        <h2>Home</h2>
        <h2>Wrtie</h2>
        <h2>Lists</h2>
      </div>
      <div class="navbar">
        <div class="nav-box">
          <h2 class="app-title">SCHEDULER</h2>
          <h2 class="app-menu"><i class="fas fa-bars"></i></h2>
        </div>
      </div>
      <div class="container1">
        <h4>Quick Add</h4>
        <form action="/add" method="POST">
          <div class="form1">
            <input type="text" name="title" placeholder="Today's work" />
          </div>
          <div class="form2">
            <input type="text" name="date" placeholder="date" />
          </div>
          <div class="form3">
            <input type="text" name="detail" placeholder="detail" />
          </div>
          <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
        <span class="plus-box"
          ><i class="fas fa-plus-circle plus-box1"></i
        ></span>
      </div>

      <div class="list-container">
        <% for(let i = 0; i< data.length; i++){ %>
        <div class="group-item">
          <div>
            <h3><%= data[i].title %></h3>

            <div style="display: flex">
              <h6><%= data[i].date %></h6>
              <h6><%= data[i].detail %></h6>
            </div>
          </div>
          <div class="btn-box">
            <button class="btn btn-danger delete" data-id="<%= data[i]._id %>">
              Delete
            </button>
            <button class="btn btn-secondary">Edit</button>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script src="/public/js/jquery-3.6.0.min.js"></script>
    <script>
      $(".delete").click((e) => {
        $.ajax({
          method: "DELETE",
          url: "/delete",
          data: { _id: e.target.dataset.id },
        }).done(function () {
          console.log("deleted");
        });
      });

      $(".app-menu").click(() => {
        if ($(".hide-container").hasClass("show")) {
          $(".hide-container").removeClass("show");
        } else {
          $(".hide-container").addClass("show");
        }
      });

      $(".shut").click(() => {
        if ($(".hide-container").hasClass("show")) {
          $(".hide-container").removeClass("show");
        } else {
          $(".hide-container").addClass("show");
        }
      });

      let counter = 0;

      $(".plus-box").click(() => {
        if (counter == 0) {
          $(".container1").addClass("scale");
          $(".form2").addClass("show2");
          $(".form3").addClass("show2");
          $(".plus-box1").addClass("rotate");
          counter++;
        } else if (counter == 1) {
          $(".container1").removeClass("scale");
          $(".form2").removeClass("show2");
          $(".form3").removeClass("show2");
          $(".plus-box1").removeClass("rotate");
          counter--;
        }
      });
    </script>
  </body>
</html>
