body {
  margin: 0;
}

div {
  box-sizing: border-box;
  font-family: "inter";
}
p,
h4,
h5,
h3,
h2,
h1,
span {
  transform: rotate(0.04deg);
}
a {
  text-decoration: none !important;
  color: white;
}
a:hover {
  color: yellow;
}

$mainColor: #f9b087;
$subColor1: #ffc9a9;
$subColor2: #ffc9a9;
$subColor3: #eedbcb;

.main-container {
  background-color: $mainColor;
  height: 100vh;
  color: white;
}
.navbar {
  width: 100%;
  display: flex;
  height: 5vh;
  background-color: $subColor1;
  position: relative;
  color: white;
  .nav-box {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $mainColor;
    color: white;
    text-align: center;
    .app-title {
      font-size: 4vh;
      font-weight: 600;
      color: white;
    }
    .app-menu {
      position: absolute;
      top: 0%;
      right: 7.5%;
      font-size: 4vh;
    }
  }
}

.hide-container {
  display: flex;
  transform: translateY(-100vh);
  flex-flow: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: $subColor2;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  h2 {
    margin-bottom: 10vh;
  }
}
.shut {
  position: absolute;
  top: 0%;
  right: 1.5%;
  font-size: 4vh;
}
.show {
  transform: translateY(0px);
  transition: all 2s;
}
// .jumbotron {
//   display: flex;
//   width: 100%;
//   height: 500px;
//   background-image: url(/public/img/back.jpg);
//   background-repeat: no-repeat;
//   background-size: 100%;
//   background-position: 0%;
//   text-align: center;
//   opacity: 0.8;
// }

.btn-box {
  display: flex;
  justify-content: space-around;
  .btns {
    margin-top: 50px;
    width: 10rem;
    height: 50px;
  }
}

.btn-s {
  margin-top: 50px;
}

.container1 {
  margin: auto;
  margin-top: 30px;
  width: 85%;
  background-color: $subColor1;
  border-radius: 10px;
  border: 1px solid $subColor1;
  font-weight: 600;
  text-align: center;
  transition: all 1.5s;

  color: white;

  h4 {
    color: white;
    font-weight: 600;
  }
}
.btn-home {
  display: flex;
  flex-flow: column;

  .btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .btn-outline-dark {
    background-color: white;
    width: 100px;
    display: block;
    margin: auto;
    font-weight: 600;
    color: black;
  }
}
.form-box {
  overflow-y: hidden;
  height: 80px;
  transition: all 1.5s;
}
.rotate {
  transition: all 1s;
  transform: rotate(-45deg);
}

input[type="text"] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  background-color: $subColor1;
}

input {
  border: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}
::placeholder {
  color: white;
  text-align: center;
}

.list-container {
  width: 85vw;

  background-color: $mainColor;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.group-item {
  width: 100%;
  height: 90px;
  background-color: $subColor1;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  position: relative;

  color: white;
  h3 {
    padding: 30px;
    padding-left: 3vw;
    font-size: 1.4vw;
    font-weight: 500;
  }
  h6 {
    position: absolute;
    top: 40%;
    right: 25%;
  }
  .btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: block;
    margin: auto;
    position: absolute;
    top: 35%;
    right: 5%;
    background-color: rgb(216, 55, 82);
    font-weight: 600;
    color: white;
  }
  .edit {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: block;
    margin: auto;
    position: absolute;
    top: 35%;
    right: 15%;

    font-weight: 600;
    color: white;
  }
}

@media screen and (max-width: 1560px) {
  .group-item {
    h3 {
      padding: 30px;
      padding-left: 3vw;
      font-size: 1.4vw;
    }
  }
}

@media screen and (max-width: 1560px) {
  .group-item {
    h3 {
      padding: 30px;
      padding-left: 3vw;
      font-size: 1.4vw;
    }
  }
}
@media screen and (max-width: 1349px) {
  .group-item {
    h3 {
      padding: 32px;
      padding-left: 3vw;
      font-size: 1.45vw;
    }
  }
}

@media screen and (max-width: 1349px) {
  .group-item {
    h3 {
      padding: 35px;
      padding-left: 3vw;
      font-size: 1.8vw;
    }
  }
}

@media screen and (max-width: 1000px) {
  .group-item {
    h3 {
      padding: 35px;
      padding-left: 3vw;
      font-size: 2vw;
    }
  }
}

@media screen and (max-width: 685px) {
  .group-item {
    h3 {
      padding: 35px;
      font-size: 3vw;
    }
  }
}
